:root {
	--background: #f9fafc;
	--background-alt: #f3f4f6;
	--text: #203146;
	--text-bright: #0b090d;
	--accent: #d44be3;
	--accent-alt: #e7a1ef;
	--color-accent: #3880ff;
	--links: #0284c7;
	--gray: #ababab;

	--font-size: 1rem;
}

::selection {
	background-color: var(--accent);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	--font-family: var(--serif);
	height: 100%;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: var(--font-size);
	line-height: 1.8;
	text-rendering: optimizeLegibility;
}

body {
	overflow: auto;
	padding: 0;
	margin: auto;
	word-wrap: break-word;
	padding: 1.8rem 2rem;
	color: var(--text);
	background-color: var(--background);
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

w-full {
	width: 100%;
}

.h-auto {
	height: auto;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

span[data-pr-tooltip] {
	text-decoration: underline solid var(--accent) 3px;
	text-underline-offset: 30%;
	color: var(--text-accent);
}

.story p:first-of-type:first-letter {
	color: var(--accent);
	font-size: 200%;
	font-weight: bold;
}

/*misc*/

hr {
	border-style: dashed;
	color: var(--accent);
	margin-block: 1.5rem;
}

button,
nav a:not(.no-button) {
	border-radius: 4px;
	font-family: inherit;
	border: var(--accent) solid 2px;
	padding: 0.1rem 0.6rem;
	background: var(--background-alt);
	color: var(--text-accent);
	display: inline-flex;
	align-items: center;
	gap: 7px;
}

button:not(:disabled):hover,
nav a:hover {
	cursor: pointer;
	background-color: var(--accent-alt);
	transition: ease-in 200ms;
}

button:is([data-font]) {
	border-radius: 50%;
	font-size: 1.2rem;
	padding: 0.1rem 0.4rem;
	aspect-ratio: 1 / 1;
}

button:disabled {
	border: var(--text);
	color: var(--text);
}
