.story {
	max-width: 75ch;
	margin: auto;
	margin-bottom: 2rem;
	font-size: var(--font-size);
	position: relative;
}

.float-nav {
	position: sticky;
	top: 50vh;
}

.float-nav svg {
	position: absolute;
}

.float-nav.right svg {
	right: -2.9rem;
}

.float-nav.left svg {
	left: -2.9rem;
}

.auto-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
	gap: 20px;
}

.flex {
	display: flex;
	gap: 10px;
	flex: none;
	align-items: center;
	flex-wrap: wrap;
}

.no-wrap {
	flex-wrap: nowrap;
}

.container {
	container-type: inline-size;
	width: 100%;
}

.space {
	justify-content: space-between;
}

@container (max-width: 463px) {
	.space,
	.space nav {
		justify-content: center;
	}

	h1 {
		text-align: center;
	}
}

.column {
	flex-direction: column;
}

h3 + .flex {
	margin-block: 10px 25px;
}

aside {
	display: flex;
	gap: 20px;
}
